## Homework

Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can use the instructions from 06-environment.md.

In [41]:
pip install pandas

Requirement already satisfied: pandas in c:\users\marti\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\marti\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marti\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marti\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marti\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\marti\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Q1. Pandas version

What's the version of Pandas that you installed?

In [42]:
import pandas as pd
print(pd.__version__)

2.2.2

## Getting the data

For this homework, we'll use the Laptops Price dataset. Download it from here.

In [43]:
import urllib.request

url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
filename = 'laptops.csv'
urllib.request.urlretrieve(url, filename)

print("succefull  !")

succefull  !

# Now read it with Pandas.

In [44]:
import pandas as pd
# Load the CSV file into a DataFrame
df = pd.read_csv('laptops.csv')
# Display the first few rows to check the data
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count

How many records are in the dataset?

In [45]:
# Get the number of records (rows) in the dataset
records_count = len(df)
print(f'Records count: {records_count}')

Records count: 2160

# Q3. Laptop brands

How many laptop brands are presented in the dataset?

In [46]:
# Get the number of unique laptop brands
laptop_brands_count = df['Brand'].nunique()
print(f'Number of laptop brands: {laptop_brands_count}')

Number of laptop brands: 27

# Q4. Missing values

How many columns in the dataset have missing values?

In [47]:
# Count how many columns have missing values
missing_columns = df.isnull().sum()
columns_with_missing_values = (missing_columns > 0).sum()
print(f'Number of columns with missing values: {columns_with_missing_values}')

Number of columns with missing values: 3

# Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [48]:
# Find the maximum final price for Dell laptops
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f'Maximum final price of Dell laptops: {max_dell_price}')

Maximum final price of Dell laptops: 3936.0

# Q6. Median value of Screen

1- Find the median value of Screen column in the dataset.

2- Next, calculate the most frequent value of the same Screen column.

3- Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

4- Now, calculate the median value of Screen once again.

Has it changed?

In [49]:
# Calculate the median of 'Screen' before filling missing values
screen_median_before = df['Screen'].median()

# Calculate the most frequent (mode) value of 'Screen'
screen_mode = df['Screen'].mode()[0]

# Fill missing values in 'Screen' with the mode
df['Screen'].fillna(screen_mode, inplace=True)

# Calculate the median of 'Screen' again after filling missing values
screen_median_after = df['Screen'].median()

# Check if the median has changed
median_changed = screen_median_before != screen_median_after
print(f'Has the median changed? {"Yes" if median_changed else "No"}')

Has the median changed? No

C:\Users\marti\AppData\Local\Temp\ipykernel_18132\1801079553.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(screen_mode, inplace=True)

# Q7. Sum of weights

1- Select all the "Innjoo" laptops from the dataset.

2- Select only columns RAM, Storage, Screen.

3- Get the underlying NumPy array. Let's call it X.

4- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

5- Compute the inverse of XTX.

6- Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

7- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

8- What's the sum of all the elements of the result?

In [50]:
import numpy as np

# Select all "Innjoo" laptops and specific columns (RAM, Storage, Screen)
innjoo_laptops = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]

# Convert the selected data to a NumPy array
X = innjoo_laptops.values

# Compute matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create the y array
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Multiply the inverse of XTX with the transpose of X, then multiply by y to compute w
w = np.dot(np.dot(XTX_inv, X.T), y)

# Calculate the sum of the elements of w
sum_of_weights = np.sum(w)
print(f'Sum of weights: {sum_of_weights}')

Sum of weights: 91.29988062995496